body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.navbar {
  z-index: 1050;
}

#sidebar {
  z-index: 1040;
}

.nav-link {
  font-weight: bold;
}


form {
    font-size: 0.9rem;
}


.card {
  max-height: 400px;
  overflow-y: auto;
}

.card-title {
  color: #0056b3;
}

.table thead th {
  background-color: #f8f9fa;
}

#result-sidebar {
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
