style.css:
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.navbar {
    z-index: 1050;
}

#sidebar {
    z-index: 1040;
}

.nav-link {
    font-weight: bold;
}

form {
    font-size: 0.9rem;
}

.card {
    max-height: 400px;
    overflow-y: auto;
}

.card-title {
    color: #0056b3;
}

.table thead th {
    background-color: #f8f9fa;
}

#result-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 60px;
  z-index: 1000;
  display: none;
}

#result-sidebar.expanded {
  width: 79.5%; 
}

#result-sidebar.collapsed {
  width: 300px;
}
#result-sidebar.collapsed .detailed-result {
  display: block;
}

#result-sidebar.expanded .detailed-result {
  display: block;
}
#result-sidebar.expanded canvas#energy-chart {
  width: 100% !important;
  height: 100% !important;
}

#result-sidebar.collapsed canvas#energy-chart {
  width: 100% !important;
  height: 500px !important;
}

#result-sidebar .sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#energy-chart {
  height: auto;
  max-height: 70%;
}

#toggle-result-sidebar.btn-outline-primary:hover {
  background-color: #198754;
  color: white;
  border-color: #198754;

}
